html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Elsie Swash Caps', cursive;
  background-image: url(https://i.siteapi.org/LTPf1WAUCxsnheX68YhaM9BRf54=/0x0:800x500/88b6ade8d505f91.s.siteapi.org/img/pbvip246n5wgw484ocooo4sws0s0ws);
  text-align: center;
}
h1 {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 65px;
  color: rgb(160, 22, 165);
}
h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(160, 22, 165);
}
.timer {
  margin-bottom: 25px;
}
.field {
  display: inline-block;
  margin-right: 40px;
  font-family: cursive;
  color: rgb(160, 22, 165);
  font-weight: 400;
  text-align: center;
  font-size: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 94, 133, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px;
  border-radius: 50%;
  min-width: 250px;
}

.label {
  display: block;
  padding-top: 15px;
  font-size: 25px;
}

.value {
  padding: 10px;
  border-radius: 50%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 94, 133, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  display: inline-block;
  min-width: 160px;
}
.text {
  text-transform: uppercase;
  font-size: 200px;
  color: rgb(63, 94, 251);
}
